*{
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
  font-family: "Roboto", sans-serif;
    
}

.container{
    max-width: 80%;
    /* background-color: rgb(181, 115, 243); */
    padding: 34px;
    margin: auto;
}
.container h2, p{
    text-align: center;

}
p{
    font-size: 16px;
}
input, textarea{
    /* display: block; */
    border: 2px solid black;
    border-radius: 6px;
    outline: none;
    width: 80%;
    margin: 11px 0px;
    padding: 7px;
    font-size: 15px;
}

form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.btn{
    color: white;
    background-color: purple;
    padding: 15px 10px;
    font-size: 20px;
    border: 2px solid white;
    border-radius: 14px;
    cursor: pointer;
}

.bg {
    width: 100%;
    position: absolute;
    z-index: -1;
    opacity: 0.7;
}

.submitMsg {
    /* font-size: 15px; */
    color: green;
}